*{
  margin:0;
  padding:0;
}
body {
  margin: 0;
  padding:0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



/* navbar design */

.react-image{
  height: 30px;
  width:30px;
  margin-left:10px;
  animation: animateimg 10s infinite linear;
  -webkit-animation: animateimg 10s infinite linear;
}
@keyframes animateimg {
  0%{
    transform:rotate(0deg);
    -webkit-transform:rotate(0deg);
    -moz-transform:rotate(0deg);
    -ms-transform:rotate(0deg);
    -o-transform:rotate(0deg);
}
  100%{
    transform:rotate(360deg);
    -webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -ms-transform:rotate(360deg);
    -o-transform:rotate(360deg);
}
}

#navbar{
  background-color:#007bf5;
}
#navbar ul{
  margin:0;
  padding:0;
}
#navbar ul li{
  padding:0  2px;
}
#navbar ul li a{
  font-size:15px;
  font-weight:500;
  color:#ffffff;
}
.selected{
  color:crimson;
  background-color:green;
}
#navbar ul li a:hover{
 color:#e6dfdfca;
}
#navbar .navbar-brand{
  color:#fff;
  font-weight:500;
  font-size:30px;
  margin:0;
  padding:0;
}
#common{
  min-height:90vh;
}
#footer{
  text-align:center;
  /* padding-top:50px; */
  margin-top:50px;
}
.secondHead{
  color:purple;
  font-size:35px;
  font-weight: 600;
}
.card-areas{
  width:80%;
  margin:0 auto;
  text-align:center;
}
.mypara{
  font-size:18px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.second-head{
  font-family:Roboto;
  font-size:25px;
}
#pnf{
  height: 70vh;
  width:80vw;
  background-image:url(./img/pnf.png);
  background-size:100% 100%;
  margin:40px auto;
}
.service-card{
  min-height:440px;
}
.service-card .prices{
  display:block;
  font-size:14px;
  font-weight:bold;
}

@media screen and (max-width:768px){
  .react-image{
    margin-left:-50px;
  }
}